<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/base.css"/>
</head>
<body>
    <main>
        <%- include('detail') %>
    </main>
</body>
</html>