<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/base.css"/>
</head>
<body>
    <main>
        <h1>Details for Selected Book</h1>
        <%- include('detail') %>
        <button> <a href="/index"> My Books </a> </button>
    </main>
</body>
</html>