<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="./styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="./styles/modules.css"/>
    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Search by Title or Author</h1>
        <div id="search-result">
            <form action="/searchResults" method="post">
                <input type="text" name="search" placeholder="Enter a title or author" required>
                <span>Title</span>
                    <input type="radio" name="search" value="title" required>
                <span>Author</span>
                    <input type="radio" name="search" value="author" required>
                <button type="submit">Search Books</button>
            </form>
        </div>
    </main>
</body>
</html>