<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css"/>
</head>
<body>
    <main>
        <h1>Your Books</h1>
        <h2>Number of books: <%= books.length %></h2>
        <%- include('./books/detail') %>
    </main>
</body>
</html>