<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/base.css"/>
</head>
<body>
    <main>
        <h1>Returned Search</h1>
        <h2>Number of books: <%= books.length %></h2>

        <ul>
            <%  books.forEach(book => { %>
            <li> <%= book.title %>
                <%= book.author %>
                <button> <a href="/books/<%=book.id%>"> View Detail </a> </button>
            </li>
            <% }) %>
        </ul>
 
    </main>
</body>
</html>